@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    height: 100vh;
}
.header {
    margin: 25px 0;
}
.main {
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}
.main img {
    margin-right: 40px;
}
.main div {
    padding: 30px 0;
    color: #fff;
}
.main div h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.main div p {
    font-size: 20px;
    margin-bottom: 40px;
}
.main div .btn {
    color: hsl(257, 40%, 49%);
    background-color: white;
    padding: 15px 30px;
    border-radius: 50px;
    transition: 0.3s;
    width: 200px;
    text-align: center;
}
.main div .btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    color: #fff;
}
.footer .social {
    display: flex;
}
.footer .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 15px;
    transition: 0.3s;
}
.footer .social a:hover {
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
}